@import '~antd/dist/antd.css';
.ant-col-8{
    margin-top:10px;

}
.ant-col-8 a{
    color: grey;
}
.ant-col-8 a:hover{
    text-decoration:underline;
}
#control-hooks{
    width:50%;
    margin:auto;
}

#root > h2 {
    /* display: inline-block; */
    width: 100px;
    margin: 0 auto 20px;

}
#control-hooks > div:nth-child(2), #control-hooks > div:nth-child(1){
    margin-left: -400px;
}
#control-hooks > div:nth-child(3) > div > div > div{
    margin-left: 52px;
}

#regsiter1{
    display: block;
    text-align: center;
    margin-left: -43px;
}